In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
from tqdm import tqdm

In [2]:
gens = pd.read_csv('data/gens.csv')
incentive = pd.read_csv('data/incentive.csv')
pred_2 = pd.read_csv('data/pred.csv')
pred_1 = pred_2.loc[pred_2['round']==1, :].copy()
pred_2 = pred_2.loc[pred_2['round']==2, :].reset_index(drop=True)

actual = pd.read_csv('data/weather_actual.csv')

forecast_2 = pd.read_csv('data/weather_forecast.csv')
forecast_1 = forecast_2.loc[forecast_2['round']==1, :].copy()
forecast_2 = forecast_2.loc[forecast_2['round']==2, :].reset_index(drop=True)

+ Missing: 2023. 8. 17. data is not included in `pred.csv`

In [9]:
gens.time = pd.to_datetime(gens.time).dt.tz_convert('Asia/Seoul')
gens

                           time  amount
0     2022-06-19 01:00:00+09:00     0.0
1     2022-06-19 02:00:00+09:00     0.0
2     2022-06-19 03:00:00+09:00     0.0
3     2022-06-19 04:00:00+09:00     0.0
4     2022-06-19 05:00:00+09:00     0.0
...                         ...     ...
11611 2023-10-15 20:00:00+09:00     0.0
11612 2023-10-15 21:00:00+09:00     0.0
11613 2023-10-15 22:00:00+09:00     0.0
11614 2023-10-15 23:00:00+09:00     0.0
11615 2023-10-16 00:00:00+09:00     0.0

[11616 rows x 2 columns]

In [10]:
gens['hour'] = gens.time.dt.hour
gens

                           time  amount  hour
0     2022-06-19 01:00:00+09:00     0.0     1
1     2022-06-19 02:00:00+09:00     0.0     2
2     2022-06-19 03:00:00+09:00     0.0     3
3     2022-06-19 04:00:00+09:00     0.0     4
4     2022-06-19 05:00:00+09:00     0.0     5
...                         ...     ...   ...
11611 2023-10-15 20:00:00+09:00     0.0    20
11612 2023-10-15 21:00:00+09:00     0.0    21
11613 2023-10-15 22:00:00+09:00     0.0    22
11614 2023-10-15 23:00:00+09:00     0.0    23
11615 2023-10-16 00:00:00+09:00     0.0     0

[11616 rows x 3 columns]

In [19]:
gens.loc[gens.hour==6, 'amount'].describe()

count    484.000000
mean       0.132342
std        0.374921
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        2.000000
Name: amount, dtype: float64

In [11]:
gens.groupby(by='hour')['amount'].mean()

hour
0      0.000000
1      0.000000
2      0.000000
3      0.000000
4      0.000000
5      0.000000
6      0.132342
7      1.992525
8      9.063785
9     22.966690
10    38.141336
11    49.412575
12    55.469702
13    58.745103
14    56.037715
15    49.643681
16    38.391663
17    24.209725
18    10.377041
19     2.764270
20     0.325916
21     0.000000
22     0.000000
23     0.000000
Name: amount, dtype: float64